// COLORS
$footer-bg: rgba(236, 240, 37, 0.404);
$jumbotron-bg: #fa0;
$navbar-bg: rgb(125, 246, 240);
$carousel-bg: rgb(5, 168, 160);
$modal-body-bg-color: rgb(205, 241, 239);
$modal-header-bg-color: rgba(206, 70, 17, 0.877);
$modal-header-color: floralwhite;
$modal-dismiss: #fff;

// HEIGHT
$carousel-item-height: 300px;

// MIXIN
@mixin zero-margin($pad-up-dn: 0, $pad-left-right: 0) {
  margin: 0 auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-header {
  @include zero-margin(0, auto);
}
.row-content {
  @include zero-margin(50px, 0);
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: $footer-bg;
  @include zero-margin(20px, 0);
}
.jumbotron {
  @include zero-margin(70px, 30px);
  background-color: $jumbotron-bg;
  color: floralwhite;
}
.address {
  font-size: 80%;
  margin: 0;
  color: black;
}

.links {
  display: flex;
  flex-direction: column;
}
.history {
  padding: 40px 0;
}
.leadership {
  padding: 35px 0;
}

body {
  padding-top: 56px;
  z-index: 0;
}
.navbar-light {
  background-color: $navbar-bg;
  color: #fff;
}
.bold {
  font-weight: bold;
}
.sizer {
  font-size: 120%;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}

.pointer {
  cursor: pointer;
}
.carousel {
  background-color: $carousel-bg;
  .carousel-item {
    height: $carousel-item-height;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}
#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
}
.transp {
  background-color: transparent;
  border: none;
}
.modal-body {
  background-color: $modal-body-bg-color;
}
.modal-header {
  background-color: $modal-header-bg-color;
  color: $modal-header-color;
  button {
    color: $modal-dismiss;
    opacity: 0.7;
    font-weight: 900;
    font-size: 2rem;
    text-shadow: none;
    font-family: sans-serif;
  }
}
